<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-menu-button menu="menu-content"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{'uiStrings.activeListText' | translate}}: {{getListName() | translate}}
    </ion-title>


  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar inputmode="text" (ionChange)="onSearchChange($event)"
      placeholder="{{'common.searchText' | translate}}">
    </ion-searchbar>
    <ion-button (click)="onNewLibraryItem()" fill="outline" class="position-right ion-margin-horizontal">
      <ion-icon slot="icon-only" name="add" color="primary"></ion-icon>
    </ion-button>
    <ion-item>
      <ion-label>{{'uiStrings.includeTagsText' | translate}}</ion-label>
      <ion-checkbox [(ngModel)]="includeTags" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item class="position-left">
      <ion-select value="{{sortMode}}" interface="popover" (ionChange)="changeSortMode($event)">
        <ion-select-option [value]="SORT_BY_NAME">{{'shoppingList.sortByName' | translate}}</ion-select-option>
        <ion-select-option [value]="SORT_BY_TAG">{{'shoppingList.sortByTag' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="position-left ion-no-padding">
      <ion-icon name="{{arrowName}}" (click)="changeSortDirection()"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="list-card" *ngIf="this.sortMode === SORT_BY_NAME">
  <ion-reorder-group *ngIf="itemLibrary">
    <pxsl1-library-list-item *ngFor="let item of items" [item]="item" (editItem)="onEditLibraryItem($event)"
      (deleteItem)="onDeleteItem($event)" (addItemToList)="onAddItemToList($event)" [hidden]="!shouldBeVisible(item)">
    </pxsl1-library-list-item>
  </ion-reorder-group>
</ion-content>

<ion-content class="list-card" *ngIf="this.sortMode === SORT_BY_TAG">
  <ion-reorder-group *ngFor="let category of sortingCategories; index as i">
    <ion-item-divider>
      <ion-label>{{category | translate}}</ion-label>
    </ion-item-divider>
    <pxsl1-library-list-item *ngFor="let item of sortedTagItems[i]" [item]="item" (editItem)="onEditLibraryItem($event)"
      (deleteItem)="onDeleteItem($event)" (addItemToList)="onAddItemToList($event)" [hidden]="!shouldBeVisible(item)">
    </pxsl1-library-list-item>
  </ion-reorder-group>
</ion-content>