<div class="picker">
  <img class="item-img" role="button" [src]="getImgSource()" (click)="onPickImage()" (error)="onLoadError()"
    default="assets/broken-img-placeholder.png">
</div>
<ion-item color="warning" *ngIf="failedLoading">
  <ion-label class="ion-text-wrap">{{ 'aboutItems.warnImageLoadError' | translate}}</ion-label>
</ion-item>
<div class="picker-controls">
  <ion-button *ngIf="getImgSource() !== imgPlaceholderPath" (click)="onClearImage()" expand="block" fill="clear"
    shape="round">
    {{ 'aboutItems.clearImageText' | translate}}
  </ion-button>
</div>