<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-align-items-center">{{listName | translate}} <ion-icon name="ellipsis-vertical"
        style="float: right;" (click)="onListActions($event)"></ion-icon>
    </ion-card-title>
    <ion-segment (ionChange)="onModeChange()" value="{{currentMode}}">
      <ion-segment-button value="{{EDIT_MODE}}">
        <ion-label>{{ 'titles.editModeTitle' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="{{SHOPPING_MODE}}">
        <ion-label>{{ 'titles.shoppingModeTitle' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card-header>

  <ion-card-content>
    <ion-button (click)="onAddItem()" fill="outline" class="position-right">
      <ion-icon slot="icon-only" name="add" color="primary"></ion-icon>
    </ion-button>
    <ion-item class="position-left ion-no-padding">
      <ion-select value="{{sortMode}}" interface="popover" (ionChange)="changeSortMode($event)">
        <ion-select-option [value]="SORT_BY_NAME">{{'shoppingList.sortByName' | translate}}</ion-select-option>
        <ion-select-option [value]="SORT_BY_TAG">{{'shoppingList.sortByTag' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="position-left ion-no-padding">
      <ion-icon name="{{arrowName}}" (click)="changeSortDirection()"></ion-icon>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card class="list-card ">
  <ion-reorder-group>
    <pxsl1-populated-item *ngFor="let item of items;" [item]="item" [isEditMode]="currentMode === EDIT_MODE"
      (editItem)="onEditItem($event)" (deleteItem)="onDeleteItem($event)">
    </pxsl1-populated-item>
  </ion-reorder-group>
</ion-card>