<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-menu-button menu="menu-content"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="shoppingLists?.length==0">
  <div class="centered-flex">
    <ion-icon slot="icon-only" class="large-icon" name="add" (click)="onAddNewList()"></ion-icon>
    <ion-label class="large-label">{{ 'shoppingList.noListCreateNewText' | translate}}</ion-label>
  </div>
</ion-content>

<ion-content *ngIf="shoppingLists?.length>0">
  <ion-slides pager="true" #slides (ionSlideDidChange)="onSlideChange($event)">
    <ion-slide *ngFor="let list of shoppingLists; trackBy: trackById">
      <pxsl1-shopping-list-page class="full-width" [listId]="list.getListID()">
      </pxsl1-shopping-list-page>
    </ion-slide>
  </ion-slides>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddItem()">
      <ion-icon name="pricetag"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>